[submodule "mibo-server"]
	path = mibo-server
	url = https://github.com/atlantis-mk/mibo-server.git
	branch = main
[submodule "Mibo-Docs"]
	path = Mibo-Docs
	url = https://github.com/atlantis-mk/Mibo-Docs.git
